@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

html  {
scroll-behavior: smooth;
margin: 0;
padding: 0;
}

body {
overflow-x:hidden;
   font-family: 'Kavivanar', cursive;
   font-family: 'Montserrat', sans-serif;
   color:#404040;
    }
    /* Headings */
h1, h2, h3, h4,h5, h6 {
    font-family: 'Kavivanar', cursive;
    letter-spacing: 2px;
    color:#A53126;
    font-weight: 600;
}

/* Navigation */
.navbar {
text-transform:uppercase;
font-weight:700;
font-size:1rem;
letter-spacing:.1rem;
background:rgba(117, 71, 55 ,0.8)!important;
}
.navbar-nav li { 
padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
color:#fff;
padding-top:.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
 color: #A53126;
}

#logo {
	vertical-align:middle;
}
.navbar-brand {
    display: inline-block;
    padding-top: .2rem;
    padding-bottom: 0.2rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    line-height: 1rem;
    white-space: nowrap;
}
.navbar-brand span {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    font-family:'kavivanar',serif;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: .7rem;
    padding-bottom: .7rem;
}
/*---Landing Page---*/
.home-inner {
    background-image:url("css/assets/images/banner-image.jpg");
}
.caption {
width:100%;
max-width: 100%;
position:absolute;
top:40%;
z-index:1;
color:#FFF;
text-transform:uppercase;
} 

.caption h1{
font-size:2rem;
font-weight:700;
letter-spacing:.1rem;
padding-bottom:.5rem;
text-transform:uppercase;
 color:#FFF;
}

.caption h2{
font-size:1.6rem;
 color: #FFF;
 padding-bottom:.5rem;
 text-transform:uppercase;
}
.welcome h1 {
    font-size:2.5rem;
  }


