@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

html  {
scroll-behavior: smooth;
margin: 0;
padding: 0;
}

body {
overflow-x:hidden;
   font-family: 'Kavivanar', cursive;
   font-family: 'Montserrat', sans-serif;
   color:#404040;
    }
    /* Headings */

h1, h2, h3, h4,h5, h6 {
    font-family: 'Kavivanar', cursive;
    letter-spacing: 2px;
    color:#A53126;
    font-weight: 600;
    text-transform: uppercase;
}
img {
	max-width: 100%;
	height: auto;
}
a {
    color:#F1B484;
}
a:hover {
    color: #CB4A2E;
    text-decoration: none;
}

/*--------- Navigation ---------*/

.navbar {
text-transform:uppercase;
font-weight:700;
font-size:1rem;
letter-spacing:.1rem;
background:rgba(117, 71, 55 ,0.8)!important;
}
.navbar-nav li { 
padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
color:#fff;
padding-top:.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
 color: #A53126;
}

#logo {
	vertical-align:middle;
}
.navbar-brand {
    display: inline-block;
    padding-top: .2rem;
    padding-bottom: 0.2rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    line-height: 1rem;
    white-space: nowrap;
}
.navbar-brand span {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    font-family:'kavivanar',serif;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: .7rem;
    padding-bottom: .7rem;
}
/*-- Landing Page---*/

.home-inner {
    background-image:url("./images/banner-image.jpg");
}
.caption {
width:100%;
max-width: 100%;
position:absolute;
top:40%;
z-index:1;
color:#FFF;
} 

.caption h1{
font-size:2rem;
font-weight:700;
letter-spacing:.1rem;
padding-bottom:.5rem;
text-transform:uppercase;
 color:#FFF;
}

.caption h2{
font-size:1.6rem;
 color: #FFF;
 padding-bottom:.5rem;
 text-transform:uppercase;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.welcome h1 {
    font-size:2.5rem;
  }
.three-reasons h3{
    font-size: 1.8rem;
    text-align:center;
  }
.reason h3{
    font-size: 1.5rem;
}
/* -- Footer -----------*/

  .full-width-footer {
    background: #754737;
    color: #fff;
    font-size: 14px;
}
.full-width-footer .widget-heading{
   color: #F1B484;  
}
.full-width-footer .h5{
    color:#fff;
}
.full-width-footer a {
    color: #fff;
}
.full-width-footer a:hover {
   color: #F1B484;
}
.full-width-footer > .container {
    padding: 15px 15px;
}
.full-width-copyright {
    padding: 15px 0;
    background: #7C675C;
    color: #fff;
    font-size: 12px;
}
.oh-list {
    list-style: none;
    padding: 0 0 0 40px;
    position: relative;
    margin-top: 20px;
    max-width: 189px;
    margin-left: auto;
    margin-right: auto;
}
.opening-hours .oh-list:before {
    content: '\f017';
    display: block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    position: absolute;
    left: 0;
    font-size: 30px;
}
.oh-list-item {
    margin-top: 10px;
}
/* ------------ Icons ------- */

.note-icon {
    width: 34px;
}
/* ---- FA Icons ----*/
.opening-hours .fas {
    float: left;
}
.contact-icons-list,
.social-icons-list {
    list-style: none;
    padding: 0;
}
.contact-list-item  {
    margin: 20px 0 0;
    padding: 0;
}
.contact-icons-list .fas {
    margin: 0 1.15em 0 0;/* keep margin relative to font-size */
}

.social-icons-list li {
    display: inline-block;
    font-size: 18px;
    margin: 5px 5px 0 0;
}
.social-icons-list li a {
    color: #fff;
    background:#F1B484;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.social-icons-list li a:hover {
    background-color: #CB4A2E;
}

/*----------- Header image About page ---------*/

.header_image_about{
    height:600px;
    width: 100%;
    background: url("./images/header-img-about.jpg") no-repeat center center;
}
.lead {
    font-weight: 600;
}
/*----------Teachers section--------------*/

#teachers img{
margin-top: -50px;
}
#teachers i{
    color:#F1B484;

}
#teachers p{
    font-weight:400;
    font-size:20px;
    padding: 20px;
}
#teachers h5{
    padding: 5px;
    font-size:19px;
}
#teachers.card {
    border-radius: 0;
    background: #A53126;
    box-shadow:5px 5px 15px #F1B484;
    transition: all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
}
#teachers .card:hover{
background: #A53126;
color:#fff;
 border-radius: 0;
 border: none;
box-shadow:5px 5px 10px #754737;
}
#teachers .card:hover h3, #teachers .card:hover i{
   color:#fff;
}
#teachers .card:hover h5{
   color:#000000;
}


/*----------- Music Classes images ----*/

#music-classes .img{
  height: 70%;
  width: 60%;
  padding-bottom: 20px;
}

/*--- Testimonials ---*/

.testimonials {
background:url("./images/testimonials-mike.jpg") no-repeat center center;
background-size:cover;
 background-attachment: fixed;
}

